<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mas.graduate.mapper.CardMapper">
    <select id="getAllCardByPage" resultType="Card" parameterType="Card">
  		select * from(select rownum r,t1.* from (select cardid cardId,cardnum cardNum,balance,uname ,company_name companyName,cardtype cardType
        from card
  		where status=1
  		<if test="cardNum != null and cardNum != ''">
  		    and cardnum like '%'||#{cardNum}||'%' 
  		</if>
  		<if test="uname != null and uname != ''">
  		    and uname like '%'||#{uname}||'%' 
  		</if>
  		<if test="cardType != null and cardType != ''">
  		    and cardtype like '%'||#{cartype}||'%' 
  		</if>
  		) t1)t2      where t2.r  &lt;=(#{pageNumber}+#{pageSize}) and t2.r  &gt;#{pageNumber}
    	
    </select>
    
    <select id="getAllCard" resultType="int" parameterType="Card">
  		select count(1) from card
  		where 1=1
  		<if test="cardNum != null and cardNum != ''">
  		    and cardnum like '%'||#{cardNum}||'%' 
  		</if>
  		<if test="uname != null and uname != ''">
  		    and uname like '%'||#{uname}||'%' 
  		</if>
  		<if test="cardType != null and cardType != ''">
  		    and cardtype like '%'||#{cartype}||'%' 
  		</if>
    </select>
    
    
    <insert id="addCard">
        insert into card values(seq_cardid.nextval,#{cardNum},#{balance},#{uname},#{companyName},#{cardType},1)
    </insert>
    
    <update id="editCard" parameterType="Card">
        update card set cardtype=#{cardType} where cardid=#{cardId}
    </update>
    
    <update id="deleteCard" parameterType="Card">
        update card set status=0 where cardid=#{cardId}
    </update>
    
     <update id="recharge">
        update card set balance=balance+#{money} where cardid=#{cardId}
    </update>
    
</mapper>

